<h1>New Course</h1>

<% form_for Course.new do |f| %>
	<table>
		<tr>
			<th class="right top">Name</th>
			<td><%= f.text_field :name %></td>
		</tr>
		
		<tr>
			<th class="right top">Description</th>
			<td><%= f.text_area :description %></td>
		</tr>
		
		<tr>
			<th class="right top">Order</th>
			<td><%= f.text_field :course_order %></td>
		</tr>
		
		<tr>
			<th class="right top"></th>
			<td><%= submit_tag %> <%= link_to 'cancel', courses_path %></td>
		</tr>
	</table>
<% end %>